# ===========================
# Root
# ===========================
node_modules
dist
build
coverage
.env
.env.*
!.env.example

# ===========================
# Backend - NestJS
# ===========================
backend/node_modules
backend/dist
backend/build
backend/coverage
backend/.env
backend/*.log
backend/*.tsbuildinfo

# ===========================
# Frontend - AngularJS
# ===========================
frontend/node_modules
frontend/dist
frontend/build
frontend/.env
frontend/*.log
frontend/bower_components

# ===========================
# Docker
# ===========================
docker-data
docker-volume
*.pid
*.seed

# Docker override local (caso exista)
docker-compose.override.yml

# Se usar arquivos locais para banco
*.sqlite
*.db

# ===========================
# Logs
# ===========================
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ===========================
# IDEs
# ===========================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
.idea/

# ===========================
# Sistema Operacional
# ===========================
.DS_Store
Thumbs.db
documents/